Source: django-pbs
Section: python
Priority: optional
Maintainer: Brian May <bam@debian.org>
Build-Depends: debhelper (>=7.0.0), python (>= 2.6.6-3), cdbs (>= 0.4.90)
Standards-Version: 3.9.3

Package: django-pbs
Architecture: all
Homepage: http://trac.vpac.org/django-pbs/
Depends: ${misc:Depends}, ${python:Depends}, python-django (>= 0.96), pbs-python (>= 4.3), torque-client (>=2.4.8)
Breaks: karaage (<< 2.7.0), karaage-admin (<< 1.4.0), karaage-registration (<< 1.1.0)
Description: PBS library for Django
 Provides views and templates for displaying information 
 from a PBS server.
 pbs_python is required and also the torque libs.
 It will show the list of jobs on a server and also 
 information about particular jobs.
